/* App.css */

.App {
  text-align: center;
}




.container {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/269/226/428/hitman-barcode-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.homeb{
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 100vh;
}